
*{
  font-family:'Verdana';
  box-sizing:border-box;
}
h1,h2,h3{
  margin-top:50px;
}
main{
  margin:30px 5px;
  background-color:#F1E1EC;
  text-align:center;
  padding-bottom:20px;
}
#title{
  text-align:center;
  padding:30px 0;
}
#img-caption{
margin:15px 0;
text-align:center;
padding-bottom:30px;
}
#img-div{
margin:30px auto;
background-color:white;
width:98%;

}
#img-div #image{
  width:80%;
  margin:auto;
  display:block;
  max-width:100%;
}
#content{
width:48%;
text-align:left;
margin:20px auto;
}
#content>ul>li{
  margin-top:25px;
}
#content>ul{
  margin-bottom:50px;
}
